<!doctype html>
<head>
    {% assets filters="cssmin", output="gen/packed.css",
          "components/pure/pure.css",
          "components/pure/grids-responsive.css",
          "components/font-awesome/css/font-awesome.css",
          "components/jquery-modal/jquery.modal.css",
          "css/style.css"
    %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" media="screen" />
    {% endassets %}
    
    {% block head %}{% endblock %}
</head>

<body>
    <div class="layout">
        <div class="menu">
            <a class="heading" href="/">Red</a>
            <ul>
                <li class="{% if section=='redirection' %} selected{% endif %}"><a href="/" class="menu-link">Redirections</a></li>
                <li class="{% if section=='templates' %} selected{% endif %}"><a href="/logout" class="menu-link">Logout</a></li>
            </ul>
            <p class="footer">Authenticated as {{ user }}</p>
        </div>
    <div class="main">
        {% block body %}{% endblock %}
    </div>
</body>
