{% extends "layout.html" %}
{% block head %}
    <title>Redirect UJI</title>
    <script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/redirection.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="header">
        <h1>Redirections</h1>
        <h2>Add/remove redirections</h2>
    </div>
    <div class="content">
      <form name="red" class="pure-form" action="/api/red">
        <fieldset>
            <legend style="line-height: 2em; margin-bottom: 3em;">
              <button type="submit" class="button-generate pure-button generate">Generate nginx.conf</button>
              Manage your redirections below, or re-generate the <strong>NGINX</strong> configuration with the button on the right.
              <br style="clear: both;" />
            </legend>

            <input type="text" placeholder="Desired host name" name="hostname">
            <input type="text" placeholder="Redirect URL" name="url">
            <button type="submit" class="pure-button pure-button-primary add">Add redirection</button>
        </fieldset>
      </form>

      <table class="pure-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Hostname</th>
                <th>Redirect URL</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>

    </div>
{% endblock %}
