body {
    color: #777;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
  color: #000;
}

.pure-button-secondary {
    color: white;
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-generate {
    color: white;
    background: rgb(202, 60, 60);
    float: right;
    clear: both;
}

button.del {
  width: 100px;
}

button.del img {
  display: none;
}

label {
  display: block;
}

input.long {
  width: 400px;
}

button.right {
  float: right;
}

span.domain {
  display: none;
  font-size: 18px;
  font-weight: bold;
}

.content {
    margin: 2em;
    padding: 0 2em;
    margin: auto;
    min-width: 70%;
}

.center {
  text-align: center;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-weight: 300;
    color: #888;
    padding: 0;
    margin-top: 0;
}

.menu {
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(61, 79, 93);
}

.menu ul {
   border: none;
   list-style: none;
   margin: 0;
   padding: 0;
}

.menu a {
    color: #fff;
    padding: 0.6em 0 0.6em 0.6em;
}

.menu .footer {
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.menu .selected {
    background: #333;
    color: #fff;
}

.selected .link, .selected .link:visited {
    color: #fff;
}

.menu .heading {
    display: block;
    font-size: 110%;
    color: #fff;
    background: #444;
    margin: 0;
}

.menu-link {
    display: block; /* show this only on small screens */
    height: auto;
}

.menu-link:hover,
.menu-link:focus {
    background: #333;
}

.header,
.content {
    padding-left: 2em;
    padding-right: 2em;
}

.content form {
  width: 90%;
  margin: auto;
}

.content table {
    font-weight: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 4em;
}

.layout {
    padding-left: 240px; /* left col width ".menu" */
    left: 0;
}

img.spinner-generate {
    display: none;
}

img.spinner {
    display: none;
}

img.spinner-add {
    display: none;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
