body {
    color: #777;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
  color: #000;
}

.pure-button-secondary {
    color: white;
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-generate {
    color: white;
    background: rgb(202, 60, 60);
    float: right;
    clear: both;
}

button.del {
  width: 100px;
}

tr.redrow-even {
    background: #f7d2d2;
}

tr.redrow-odd {
  background: #f9dede;
}

button.del img {
  display: none;
}

label {
  display: block;
}

input.long {
  width: 400px;
}

button.right {
  float: right;
}

span.domain {
  display: none;
  font-size: 18px;
  font-weight: bold;
}

td.id img {
  display:inline;
}

.content {
    margin: 2em;
    padding: 0 2em;
    margin: auto;
    min-width: 70%;
}

.center {
  text-align: center;
}

.search {
  margin: 1em 0;
  background: #EEE;
  padding: 1em;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.header {
     margin: 0;
     color: #333;
     text-align: left;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-weight: 300;
    color: #888;
    padding: 0;
    margin-top: 0;
}

.menu {
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(61, 79, 93);
}

.menu ul {
   border: none;
   list-style: none;
   margin: 0;
   padding: 0;
}

.menu a {
    color: #fff;
    padding: 0.6em 0 0.6em 0.6em;
}

.menu .footer {
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.menu .selected {
    background: #333;
    color: #fff;
}

.selected .link, .selected .link:visited {
    color: #fff;
}

.menu .heading {
    display: block;
    font-size: 110%;
    color: #fff;
    background: #444;
    margin: 0;
}

.menu-link {
    display: block; /* show this only on small screens */
    height: auto;
}

td.date {
  width: 150px;
}

.menu-link:hover,
.menu-link:focus {
    background: #333;
}

.header,
.content {
    padding-left: 2em;
    padding-right: 2em;
}

.content form {
  width: 90%;
  margin: auto;
}

.content table {
    font-weight: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 4em;
}

.layout {
    padding-left: 240px; /* left col width ".menu" */
    left: 0;
}

img.spinner {
    display: none;
    vertical-align: middle;
}

a.openmodal {
  vertical-align: middle;
}

a.openmodal:hover i.edit {
  color: darkred;
}

i.edit {
  margin-right: .5em;
}

div.spinner {
  display: none;
  margin: auto;
  width: 800px;
  height: 600px;
  background: url("/static/img/spinner.gif");
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

div#edit strong, div#edit button, div#edit input {
  margin-top: 1em;
}

div#edit strong.redirection {
  width: 100%;
  font-size: 14px;
}

div#edit input {
  width: 100%;
}

table.cards td, table.cards th {
  padding: 0 1rem 0 0;
}

table.cards td.number, table.cards th.number {
  text-align: center;
  padding-left: 1em;
}

table.cards td.date, table.cards th.date {
  text-align: center;
  white-space: nowrap;
}

table.cards td.redirection, table.cards th.redirection {
  text-align: left;
}

table.cards td.redirection p.domain img {
  vertical-align: middle;
}

table.cards td.redirection p.domain a {
  font-size: 1.3rem;
  color: #555;  
}

table.cards td.redirection p.domain a:hover {
  color: #222;  
}

table.cards tr.badstatus td.redirection p.domain a:hover, table.cards tr.badstatus td.redirection p.url a.redirect:hover {
  color: #222;  
}

table.cards td.redirection p.url a {
  font-size: .9rem;
  color: gray;
}

table.cards td.redirection p.url a:hover {
  color: #666;
}

table.cards tr.badstatus {
  background: #DE5050;
}

table.cards tr.badstatus.pure-table-odd td {
  background: #F76F6F;
}

table.cards tr.badstatus {
  color: white;
}

table.cards tr.badstatus td.redirection p.domain a {
  color: white;
}

table.cards tr.badstatus td.redirection p.url a.redirect {
  color: white;
}

button.delete-redirection {
  float: left;
}

button.change-redirection {
  float: right;
}

.button-error {
  background: rgb(202, 60, 60);
  float: right;    
  color: white;
}

div#edit p.redirection {
  font-size: .9rem;
}

div#edit {
  width: 70%;
  min-width: 400px;
}
